/**************************/
/*        SETUP           */
/**************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: white;
    color: #555555;
    font-family: 'Lato', 'Arial', 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/**************************/
/*        HEADER           */
/**************************/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    -webkit-filter: grayscale(100%);
}

.header-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 45px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #ffffff;
}




/**************************/
/*      COMPONENTS        */
/**************************/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.img-shrink {
    height: 50%;
    width: 50%;
    margin-bottom: 40px;
    display: block;
    margin-left: 60px;
}


.box p {
    font-size: 20px;
    line-height: 145%;
}

/**************************/
/*        HEADINGS        */
/**************************/

h1, h2, h3 {
    font-weight: 300;
}

.extra {
    font-size: 15px;
}

h1 strong {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 60px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: .02em;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #555555;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ---------------------------------------------*/
/*  PARAGRAPHS */
/* ---------------------------------------------*/

.long-copy {
    color: white;
    font-style: italic;
    line-height: 145%;
    width: 70%;
    font-size: 25px;
    margin-left: 15%;
    text-align: center;
}

.prog-copy {
    color: rgb(54, 52, 52);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 145%;
    width: 70%;
    font-size: 25px;
    margin-left: 15%;
    text-align: center;
}

/* ---------------------------------------------*/
/* Buttons */
/* ---------------------------------------------*/

.button:link,
.button:visited {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    border: 1px solid #ffffff;
    color: white;
    margin-right: 15px;
}

.button:hover,
.button:active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #ffffff;
    color: rgb(0, 0, 0);
}

/* ---------------------------------------------*/
/* Links */
/* ---------------------------------------------*/

a:link,
a:visited {
    color: #e67e22;    
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555555;
    border-bottom: 1px solid transparent;
}

/* ---------------------------------------------*/
/* SECTION - ABOUT ME */
/* ---------------------------------------------*/

.about-me {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300i;
    text-align: center;
    line-height: 1.6em;
    letter-spacing: .02em;
    color: rgb(54, 52, 52);
}

.about-me em {
    color: green;
}

.section-about-me .about-me {
    margin-bottom: 30px;
}

.section-about-me {
    background-color: #f4f4f4;
}

/* ---------------------------------------------*/
/* SECTION - KNOWLEDGE */
/* ---------------------------------------------*/

.section-knowledge .prog-copy {
    margin-bottom: 30px;
}

.box h3 {
    text-align: center;
}